In [76]:
import pandas as pd
import numpy as np
import re
from clickhouse_driver import Client
from sqlalchemy import create_engine

In [78]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
client_read_format = Client(
    host='host',
    user='komisarenko.aa',
    password='password'
)

In [82]:
engine = create_engine("postgresql://komisarenko.aa:password@host/bd")

In [3]:
q_1 = f'''

SELECT 
	EntityID,
	EventDescription
FROM EventsLog
WHERE EntityType = 277
	AND EventDescription LIKE 'Изменен реквизит%'
	AND EventDescription LIKE '%ДатаДоставки%'
	AND EventDescription NOT LIKE '%ДатаДоставки 01.01.0001 0:00:00%'
	AND SysRowDate > '2023-12-31'
    AND SysRowDate < '2025-01-01';
    
'''

req1, col1 = client_read_format.execute(q_1, with_column_types=True)
df_1 = pd.DataFrame(req1, columns=[x[0] for x in col1])

In [22]:
#df_1.head(5)

In [72]:
df_1['EntityID'].nunique()

105286

In [4]:
#df_1['EntityID'].unique()

In [6]:
#df_1['EventDescription'][36]

In [6]:
def extract_dates(text):
    matches = re.findall(r'ДатаДоставки\s([\d\.]+)\s\d{1,2}:\d{1,2}:\d{1,2}\s->\s([\d\.]+)', text)
    return matches

In [7]:
result = []
for idx, row in df_1.iterrows():
    entity_id = row['EntityID']
    matches = extract_dates(row['EventDescription'])
    for match in matches:
        result.append({
            'EntityID': entity_id,
            'FirstDate': match[0],
            'SecondDate': match[1]
        })
result = pd.DataFrame(result)

In [24]:
#result.head(5)

In [10]:
result['FirstDate'].value_counts()

FirstDate
30.09.2024    2174
14.10.2024    2064
02.12.2024    1975
21.10.2024    1950
18.11.2024    1944
              ...
27.12.2000       1
10.12.2000       1
27.02.2025       1
01.05.2024       1
07.01.2024       1
Name: count, Length: 325, dtype: int64

In [11]:
np.sort(result['FirstDate'].unique())

array(['01.01.2000', '01.01.2017', '01.01.2024', '01.01.2025',
       '01.02.2025', '01.05.2022', '01.05.2024', '01.06.2077',
       '01.08.2024', '01.09.2024', '01.10.2024', '01.10.2027',
       '01.11.2024', '01.12.2024', '02.01.2025', '02.08.2024',
       '02.09.2024', '02.10.2011', '02.10.2024', '02.11.2024',
       '02.12.2024', '02.12.2025', '03.01.2024', '03.01.2025',
       '03.02.2025', '03.03.2025', '03.03.2027', '03.09.2024',
       '03.10.2024', '03.11.2024', '03.12.2012', '03.12.2024',
       '03.12.2025', '04.01.2024', '04.01.2025', '04.02.2025',
       '04.03.2025', '04.06.2025', '04.09.2024', '04.10.2000',
       '04.10.2024', '04.11.2024', '04.12.2024', '04.12.2025',
       '05.01.2024', '05.01.2025', '05.02.2025', '05.03.2025',
       '05.04.2024', '05.07.2024', '05.08.2024', '05.09.2024',
       '05.10.2024', '05.11.2024', '05.12.2024', '06.01.2025',
       '06.02.2025', '06.03.2025', '06.05.2024', '06.09.2024',
       '06.10.2024', '06.11.2000', '06.11.2024', '06.12.2024',
       '06.12.2025', '07.01.2024', '07.01.2025', '07.06.2024',
       '07.10.2024', '07.11.2024', '07.12.2024', '07.12.2025',
       '08.01.2024', '08.01.2025', '08.02.2025', '08.04.2025',
       '08.09.2024', '08.10.2024', '08.11.2024', '08.12.2024',
       '08.12.2025', '09.01.2024', '09.01.2025', '09.02.2025',
       '09.04.2025', '09.07.2024', '09.08.2024', '09.09.2024',
       '09.10.2024', '09.11.2000', '09.11.2024', '09.12.2024',
       '09.12.2025', '10.01.2025', '10.02.2024', '10.02.2025',
       '10.03.2025', '10.07.2024', '10.08.2024', '10.09.2024',
       '10.10.2000', '10.10.2024', '10.11.2024', '10.12.2000',
       '10.12.2024', '10.12.2025', '11.01.2025', '11.02.2025',
       '11.03.2025', '11.06.2025', '11.09.2022', '11.09.2024',
       '11.10.2024', '11.11.2024', '11.12.2024', '12.01.2024',
       '12.01.2025', '12.02.2025', '12.03.2025', '12.06.2077',
       '12.07.2024', '12.08.2024', '12.09.2024', '12.10.2024',
       '12.11.2024', '12.12.2024', '13.01.2025', '13.02.2025',
       '13.03.2025', '13.05.2025', '13.06.2024', '13.08.2024',
       '13.09.2024', '13.10.2024', '13.11.2024', '13.12.2024',
       '14.01.2025', '14.02.2025', '14.03.2024', '14.05.2025',
       '14.09.2024', '14.10.2024', '14.11.2024', '14.12.2024',
       '15.01.2025', '15.04.2025', '15.06.2024', '15.07.2024',
       '15.08.2024', '15.09.2024', '15.10.2024', '15.10.2025',
       '15.11.2000', '15.11.2024', '15.11.2027', '15.12.2024',
       '16.01.2025', '16.04.2023', '16.04.2025', '16.07.2024',
       '16.08.2024', '16.09.2024', '16.10.2024', '16.11.2024',
       '16.12.2024', '17.01.2024', '17.01.2025', '17.09.2024',
       '17.10.2000', '17.10.2024', '17.11.2000', '17.11.2024',
       '17.12.2023', '17.12.2024', '17.12.2025', '18.01.2025',
       '18.02.2025', '18.03.2025', '18.08.2024', '18.09.2024',
       '18.10.2024', '18.11.2024', '18.12.2024', '18.12.2025',
       '19.01.2025', '19.02.2025', '19.03.2025', '19.06.2024',
       '19.08.2024', '19.09.2024', '19.10.2000', '19.10.2024',
       '19.11.2024', '19.12.2024', '20.01.2024', '20.01.2025',
       '20.03.2024', '20.03.2025', '20.05.2024', '20.05.2025',
       '20.08.2024', '20.09.2024', '20.10.2024', '20.11.2024',
       '20.12.2024', '21.01.2025', '21.08.2024', '21.09.2024',
       '21.10.2000', '21.10.2024', '21.11.2024', '21.12.2022',
       '21.12.2024', '22.01.2025', '22.04.2024', '22.06.2024',
       '22.07.2024', '22.08.2024', '22.09.2024', '22.10.2024',
       '22.11.2000', '22.11.2002', '22.11.2024', '22.12.2022',
       '22.12.2023', '22.12.2024', '23.01.2025', '23.04.2025',
       '23.08.2024', '23.09.2024', '23.10.2023', '23.10.2024',
       '23.11.2024', '23.11.2029', '23.12.2024', '24.01.2025',
       '24.02.2025', '24.03.2025', '24.06.2024', '24.07.2024',
       '24.09.2022', '24.09.2024', '24.10.2024', '24.11.2000',
       '24.11.2024', '24.12.2024', '25.01.2024', '25.01.2025',
       '25.02.2025', '25.02.2032', '25.05.2029', '25.07.2024',
       '25.08.2024', '25.09.2024', '25.10.2023', '25.10.2024',
       '25.11.2024', '25.12.2024', '25.12.2025', '26.01.2024',
       '26.01.2025', '26.02.2025', '26.07.2024', '26.08.2024',
       '26.09.2020', '26.09.2024', '26.10.2024', '26.11.2024',
       '26.12.2024', '27.01.2024', '27.01.2025', '27.02.2025',
       '27.03.2024', '27.08.2024', '27.09.2024', '27.10.2000',
       '27.10.2024', '27.11.2024', '27.12.2000', '27.12.2024',
       '28.01.2024', '28.01.2025', '28.02.2025', '28.03.2025',
       '28.04.2025', '28.06.2024', '28.09.2024', '28.10.2024',
       '28.11.2024', '28.11.2025', '28.12.2024', '28.12.2025',
       '28.12.2027', '29.01.2025', '29.04.2024', '29.08.2024',
       '29.09.2022', '29.09.2024', '29.10.2024', '29.11.2000',
       '29.11.2024', '29.12.2024', '29.12.2025', '30.01.2024',
       '30.01.2025', '30.08.2024', '30.09.2024', '30.10.2024',
       '30.11.2000', '30.11.2024', '30.12.2012', '30.12.2023',
       '30.12.2024', '30.12.2025', '31.01.2024', '31.01.2025',
       '31.03.2024', '31.05.2028', '31.08.2023', '31.08.2024',
       '31.10.2000', '31.10.2024', '31.12.2023', '31.12.2024',
       '31.12.2025'], dtype=object)

In [12]:
result[result['FirstDate'] == '25.02.2032']

                                   EntityID   FirstDate  SecondDate
56210  f5ddca7f-b633-11ef-8ff1-0050569d2cad  25.02.2032  13.12.2024

In [13]:
result['SecondDate'].value_counts()

SecondDate
01.01.0001    2725
30.12.2024    1933
01.10.2024    1933
10.12.2024    1884
24.12.2024    1874
              ...
31.08.2024       1
25.08.2024       1
10.03.2025       1
13.11.2025       1
06.01.2026       1
Name: count, Length: 291, dtype: int64

In [14]:
result[result['SecondDate'] == '01.01.0001']

                                    EntityID   FirstDate  SecondDate
5       0003242c-49aa-4d55-afee-f56da2855483  09.10.2024  01.01.0001
22      000ab18f-c7a4-4393-94e5-ae7d523b417e  26.10.2024  01.01.0001
175     007b085b-52c9-467b-b2af-4d54f1c51466  28.09.2024  01.01.0001
193     0067e0d6-2a1d-42f6-8be4-56b8232d1e41  11.11.2024  01.01.0001
217     00714080-5841-4a37-98f2-2749fc714bec  06.11.2024  01.01.0001
...                                      ...         ...         ...
145693  feafe20b-9dab-11ef-9210-0050569d54e1  13.11.2024  01.01.0001
145728  ff36957a-ce15-4e94-8860-2c7d72822c95  29.11.2024  01.01.0001
145779  ffc9bc77-bff2-4404-a344-4a33925c1b2e  16.11.2024  01.01.0001
145815  ffdc2768-0ca1-4e35-b2ec-35ac6da138a6  12.11.2024  01.01.0001
147869  0effa062-c184-11ef-8f3c-0050569db512  27.12.2024  01.01.0001

[2725 rows x 3 columns]

In [15]:
df_1[df_1['EntityID'] == '0003242c-49aa-4d55-afee-f56da2855483']

,EntityID,EventDescription
5,0003242c-49aa-4d55-afee-f56da2855483,Изменен реквизит:\nДатаДоставки 09.10.2024 0:0...

In [26]:
#df_1['EventDescription'][22]

In [42]:
result1 = result.copy()

In [62]:
result1.head(5)

                               EntityID  FirstDate SecondDate  Days
0  000dea66-9d38-4b3c-a899-4b0519204707 2024-12-09 2025-01-15  37.0
1  000f9830-8158-11ef-8f0b-0050569dc36f 2024-10-03 2024-10-04   1.0
2  0010fd93-2a85-4660-80b6-63158b6a49f6 2024-10-03 2024-10-07   4.0
3  004277c7-048c-4b69-8604-573c71e361f9 2024-12-02 2024-12-03   1.0
4  004277c7-048c-4b69-8604-573c71e361f9 2024-12-03 2024-12-05   2.0

In [46]:
result1['FirstDate'] = pd.to_datetime(result1['FirstDate'], format='%d.%m.%Y', errors='coerce')
result1['SecondDate'] = pd.to_datetime(result1['SecondDate'], format='%d.%m.%Y', errors='coerce')

In [64]:
result1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153519 entries, 0 to 153518
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   EntityID    153519 non-null  object
 1   FirstDate   153519 non-null  datetime64[ns]
 2   SecondDate  150794 non-null  datetime64[ns]
 3   Days        150794 non-null  float64
dtypes: datetime64[ns](2), float64(1), object(1)
memory usage: 4.7+ MB

In [70]:
round((1 - 150794 / 153519), 3)

0.018

In [56]:
result1['Days'] = (result1['SecondDate'] - result1['FirstDate']).dt.days

In [58]:
result1[result1['Days'] < 0]

                                    EntityID  FirstDate SecondDate  Days
6       000181df-b33c-46e5-92cd-66ae6e4446f5 2024-11-23 2024-11-22  -1.0
19      0008301b-6328-4585-bda0-1f15f88a6eb0 2024-10-17 2024-10-16  -1.0
21      0008301b-6328-4585-bda0-1f15f88a6eb0 2024-10-18 2024-10-17  -1.0
24      00065cec-4f5a-4732-8eca-aeef0dcf6013 2024-12-05 2024-12-04  -1.0
26      000b84a1-38b2-4f8b-856c-0738875bf4ea 2024-11-06 2024-11-05  -1.0
...                                      ...        ...        ...   ...
153499  fc0ea5f2-4bc1-47d8-85c5-5ab27a64aaf2 2024-12-13 2024-12-12  -1.0
153500  fc72db7e-81ad-4e17-8fa8-42fb7648c8d1 2024-12-12 2024-12-10  -2.0
153501  fc7c22b5-9e46-426d-af51-e8147112d1cc 2024-12-02 2024-12-01  -1.0
153502  fcbbda6c-5feb-444d-a597-b363b84ffeac 2024-12-10 2024-12-07  -3.0
153515  ffe9f7ca-55c6-4f21-a22e-7eaac2e3a81d 2024-12-08 2024-12-07  -1.0

[33620 rows x 4 columns]

In [114]:
result2 = result1.groupby('EntityID').agg({
    'FirstDate': 'min', 
    'SecondDate': 'max'
}).reset_index()

In [116]:
result2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105286 entries, 0 to 105285
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   EntityID    105286 non-null  object
 1   FirstDate   105286 non-null  datetime64[ns]
 2   SecondDate  103273 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 2.4+ MB

In [118]:
result2['Delta'] = (result2['SecondDate'] - result2['FirstDate']).dt.days

In [120]:
result2.head(5)

                               EntityID  FirstDate SecondDate  Delta
0  00009928-95fb-11ef-9201-0050569d8ba5 2024-10-28 2024-10-29    1.0
1  000181df-b33c-46e5-92cd-66ae6e4446f5 2024-11-23 2024-11-22   -1.0
2  0003242c-49aa-4d55-afee-f56da2855483 2024-10-09        NaT    NaN
3  0003f709-a7f1-11ef-923a-0050569d0f06 2024-11-22 2024-12-10   18.0
4  0003f727-86f0-11ef-91fb-0050569d54e1 2024-10-12 2024-10-15    3.0

In [130]:
result3 = result1.groupby('EntityID').agg({
    'Days': ['max', 'min']
}).reset_index()

In [134]:
result3.columns = ['EntityID', 'max_days', 'min_days']

In [138]:
result3['Delta'] = result3['max_days'] - result3['min_days']

In [140]:
result3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105286 entries, 0 to 105285
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   EntityID  105286 non-null  object
 1   max_days  103273 non-null  float64
 2   min_days  103273 non-null  float64
 3   Delta     103273 non-null  float64
dtypes: float64(3), object(1)
memory usage: 3.2+ MB

In [160]:
result3.sample(10)

                                    EntityID  max_days  min_days  Delta
90016   da92f131-a407-46ea-8003-a00b6b0e9ee1       5.0       1.0    4.0
14061   221fc30e-cad1-469f-9b3e-d6ad2b9ef468      -5.0      -5.0    0.0
99860   f2d1bce0-abd5-11ef-921c-0050569d54e1       2.0       2.0    0.0
14632   239a40a6-51f2-4557-8511-e94c9c3570a9       4.0       3.0    1.0
17463   2a7edbf9-2f79-4d58-a79a-e2c5c0892953      -1.0      -1.0    0.0
84700   cda2af83-5cd7-4bce-ba64-e25ff85fa83a       2.0       2.0    0.0
93682   e3aa65e4-914e-11ef-8fd0-0050569d2cad       1.0       1.0    0.0
40487   62b669ba-a3d2-46ef-b6d1-a59eef0baf73       1.0       1.0    0.0
98092   ee5dc6f9-7f1c-11ef-91ec-0050569d8ba5      -7.0      -7.0    0.0
102897  fa204209-6c6d-4b32-8567-3dbbf086decf       NaN       NaN    NaN

In [84]:
query = f'''

SELECT 
	znd."Ссылка",
	znd."Номер",
	znd."Дата" "Дата создания ЗнД",
	znd."ДоставочнаяОрганизация" "Доставочная Организация",
	loc."Наименование" "Филиала создания", -- Выдача с Филиала 1 ?
	loc.city "Город",
	loc.division "Дивизион",
	znd."ВремяС",
	znd."ВремяПо",
	znd."ДатаДоставки",
	fr.firma "Проводить По" -- Выдача с Филиала 2 ?
FROM "cdc.adm-1c-dns-m.dns_m"."D.ZajavkaNaDostavkuTovaraKlientu" znd
JOIN (
	SELECT
		fr."Ссылка" guid_branch,
		fr."Наименование",
		t2."Наименование" division,
		sg."Наименование" city
	FROM "cdc.adm-1c-dns-m.dns_m"."S.Firmy" fr
	JOIN "cdc.adm-1c-dns-m.dns_m"."S.Goroda" sg on fr.Город = sg.Ссылка
	LEFT JOIN "cdc.adm-1c-dns-m.dns_m"."S.Firmy.IerarhijaTerritorij" it2 
		ON it2."Ссылка" = fr."Ссылка" AND it2."Уровень" = 2
	LEFT JOIN "cdc.adm-1c-dns-m.dns_m"."S.Territorii" t2 
		ON t2."Ссылка" = it2."Территория"
	WHERE t2."Наименование" IN ('-')) loc 
ON znd."Фирма" = loc.guid_branch
JOIN (
	SELECT
		"Ссылка" guid_f,
		"Наименование" firma
	FROM "cdc.adm-1c-dns-m.dns_m"."S.Firmy") fr
ON znd."ПроводитьПо" = fr.guid_f
WHERE date_trunc('year', "Дата") = '2024-01-01'
	AND znd."ПометкаУдаления" = 0
	AND znd."Проведен" = 1
	AND znd."ВидОтправления" not in ('ad37c6a3-d8d8-11ed-90ca-00155d8ed20b','bb8ce8cc-d8d8-11ed-90ca-00155d8ed20b',
									'19a18e48-7879-11ee-9168-00155d8ed20b','203b31a6-7879-11ee-9168-00155d8ed20b')
	AND znd."ДатаДоставки" >= '2024-01-01'
	AND znd."ДатаДоставки" <= '2024-12-31';

'''

In [86]:
df_2 = pd.read_sql(sql=query, con=engine.raw_connection())

In [28]:
#df_2.head(5)

In [90]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3136322 entries, 0 to 3136321
Data columns (total 11 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Ссылка                   object
 1   Номер                    object
 2   Дата создания ЗнД        datetime64[ns]
 3   Доставочная Организация  object
 4   Филиала создания         object
 5   Город                    object
 6   Дивизион                 object
 7   ВремяС                   datetime64[ns]
 8   ВремяПо                  datetime64[ns]
 9   ДатаДоставки             datetime64[ns]
 10  Проводить По             object
dtypes: datetime64[ns](4), object(7)
memory usage: 263.2+ MB

In [104]:
len(df_2)

3136322

In [106]:
df_2['Ссылка'].nunique()

3136322

In [110]:
df_2['Ссылка'] = [str(link) for link in df_2['Ссылка']]

In [148]:
df_2 = df_2.rename(columns={"Ссылка": "EntityID"})

In [150]:
df_2['EntityID'].unique()

array(['2e0fbcc8-ade2-4e6d-b5d3-098a0dc3bd78',
       '1cbd1957-7f7f-4285-9032-2160b2664421',
       'b5801fc1-811d-4055-87dd-01d5e14f5009', ...,
       'c7560be5-a558-42cf-a493-3383a1c48ce8',
       '4add2b6f-6abd-47ae-a913-c847f57af2d5',
       'a6e4025b-0591-40ef-b228-91203f00d661'], dtype=object)

In [152]:
df_3 = df_2.merge(result3, how='inner', on='EntityID')

In [30]:
#df_3.sample(5)

In [1]:
#df_3.to_csv('sda_180.csv', index=False)